html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-weight: bold;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link {
    font-size: 1.1em;
    margin-right: 1em;
}

.nav-item .nav-link:hover {
    color: #0d6efd;
}

.container {
    padding-top: 20px;
    flex: 1;
}

footer {
    margin-top: auto; /* Футер всегда остается внизу */
}

footer a {
   text-decoration: none; /* Убирает подчеркивание для ссылок */
}

footer a:hover {
   text-decoration: underline; /* Опционально: добавляет подчеркивание при наведении */
}

.card {
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
}

.card h2 {
    font-weight: 600;
    color: #333;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
}

.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.form-label {
    font-weight: 500;
}

.card-header {
    font-weight: bold;
    font-size: 1.25rem;
}

.list-group-item {
    transition: background-color 0.3s ease;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.container .alert.notification-box {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #007bff !important;
    color: white !important;
    border-color: #007bff !important;
}

/* Новый стиль для баннера категории */
.category-banner {
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

/* Дополнительные стили для карточек */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Стили для кнопок */
.btn-primary {
    background-color: #2575fc;
    border-color: #2575fc;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #6a11cb;
    border-color: #6a11cb;
    transform: translateY(-3px);
}

/* Стили для иконок и текста в карточках */
.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.bi-tag {
    margin-right: 5px;
    color: #007bff;
}

/* Плавное увеличение карточек при наведении */
.card:hover {
    transform: scale(1.02);
}
