{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Вопрос: {{ question.title }}</h1>
    <p>Категория: <a href="/view/categories/{{ question.category.id }}" class="text-decoration-none">{{ question.category.name }}</a></p>

    {% if question.answer %}
        <div class="card my-4">
            <div class="card-body">
                <h2 class="card-title">Ответ:</h2>
                <p class="card-text">{{ question.answer.content }}</p>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Ответ еще не добавлен.
        </div>
    {% endif %}
</div>
{% endblock %}

