{% extends "layouts/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="width: 30rem;">
        <h2 class="text-center mb-4">Сброс пароля</h2>
        {% if errors %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if message %}
            <div class="alert alert-success">{{ message }}</div>
        {% endif %}
        <form action="/password-reset" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Введите ваш email" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
