{% extends "layouts/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="width: 30rem;">
        <h3 class="text-center mb-4">Подтверждение сброса пароля</h3>
    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    {% if message %}
        <p style="color:green;">{{ message }}</p>
    {% endif %}
    {% if not message %}
        <form method="post">
            <div class="mb-3">
                <input type="hidden" name="token" value="{{ token }}">
                <label for="new_password" class="form-label">Новый пароль:</label>
                <input type="password" class="form-control" name="new_password" placeholder="Введите новый пароль" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}
