{% extends "layouts/base.html" %}

{% block content %}
<h1>Профиль пользователя</h1>
<p>Email: {{ user.email }}</p>
<p>Роль: {{ user.role }}</p>

<h2>Избранные категории</h2>
<ul class="list-group">
    {% for favorite in favorites %}
    <li class="list-group-item">
        <a href="/categories/view/{{ favorite.question.category.id }}">{{ favorite.question.category.name }}</a>
        - <a href="/questions/view/{{ favorite.question.id }}">{{ favorite.question.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}