{% extends "layouts/base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="width: 30rem;">
        <h2 class="text-center mb-4">Регистрация</h2>
        <form action="/auth/register" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Введите ваш email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите ваш пароль" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </div>
            <div class="text-center mt-3">
                <p>Уже есть аккаунт? <a href="/auth/login" class="text-decoration-none">Войти</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
