{% extends "layouts/base.html" %}

{% block content %}
<h2>Регистрация</h2>
<form action="/auth/register" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
{% endblock %}